body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(../css/img/fondo.jpg), lightblue;
    background-size: cover;
    margin: 0;
    height: 100%;
    color: aliceblue;
}

