body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;
    margin: 0;
    color: black;
}

#box {
    height: 300px;
    width: 1000px;
    text-align: center;
    padding: 15px;
    position: relative;
    left: 70px;
}

#imgChildren {
    width: 1250px;
    position: relative;
    bottom: 100px;
}