body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("C:\Users\morad\Documents\Laboratoria\ejercicios-libres\ages-and-stages\assets\css\img\fondo.jpg"), lightblue;
}

